<h1>Step Template</h1>
<div class="step-template">
  <h2>Step {{ step.id }}</h2>
  <div class="step-content-label">Here's where you show content for step {{ step.id }}</div>
  <button class="step-complete-button" (click)="onCompleteStep()">
    <!--<span class="completed-step-check material-icons">
      {{ step.isComplete ? "check_circle" : "panorama_fish_eye" }} </span>-->
      <input type="radio" class="completed-step-check" [checked]="step.completed">
      Complete {{ step.id }}
  </button>
</div>
